vendor
*.zip
!PluginInstallation/**/*.zip
.idea/*
!.idea/encodings.xml
!.idea/codeStyles
!.idea/inspectionProfiles
wp-cli.phar
packlink-pro-shipping
*.swp
!src/resources/packlink/.gitkeep
src/resources/packlink/js/*
src/resources/packlink/css/*
src/resources/packlink/img/*
src/resources/packlink/templates/*
