.button.pl-draft-button,
.button.pl-create-draft-button {
	display: flex;
	padding: 4px 18px;
	width: fit-content;
	min-width: 180px;
}

.button.pl-draft-button:disabled {
	pointer-events: none;
}

.pl-image {
	width: 25px;
	display: block;
	padding-right: 3px;
}
